.details-card {
  min-width: 300px;
}


/* Login component */
.login-card {
  min-width: 400px;
}


/* Combat */
.battlefield {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 1000px;
  max-width: 1000px;
  padding: 20px;
  background-size: 125%;
  background-repeat: no-repeat;
  background-position: bottom;
}

.text-shadow {
  text-shadow: 2px 2px 3.5px rgba(0, 0, 0, 1);
}

.enemy-sprite {
  width: 200px;
  height: 200px;
}

.custom-progress-bar {
    height: 2rem; /* Adjust the height as needed */
    font-size: 1.25rem;
    font-weight: bold;
    text-shadow: #222 3px 3px 5px;
  }